#back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: auto;
  padding-left: 5rem;
  height: 6vh;
}

/* section Wrapper */
#microservices {
  width: 100vw;
  margin: 0px;
  padding: 0;
  padding-top: 3rem;
  background: #f0f0f0;
}
/* services Wrapper */
.services-container {
  width: 100%;
  margin: 0px;
  background-color: #1f2525 !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.microservice-item {
  width: 80%;
  border: 2px solid rgb(236, 17, 17);
  color: white;
}
/** Timestamp Microservice styles */
#time-stamp {
  padding: 20px;
}
#result {
  height: 25%;
  color: #f0f0f0;
  background-color: black;
}
/** URL Shortener Styles */
#url-shortener {
  padding: 20px;
}
/** Header parser Styles */
#header-parser {
  padding: 20px;
}

/** Exercise Log Microservice styles */
#exercise-tracker {
  padding: 20px;
}

.exercise-container {
  font-family: sans-serif;
  margin: 25px;
  color: #222;
  /*background-color: #f5f5f5;*/
}

.exercise-container h1 {
  font-weight: bold;
}

.exercise-container .bold {
  font-weight: bold;
}

.exercise-container p {
  max-width: 900px;
  color: whitesmoke;
}

.exercise-container form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #87d37c;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
}

.exercise-container input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

.exercise-container input[type="submit"] {
  font-size: 16px;
  border-radius: 3px;
  background-color: #e4f1fe;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

.exercise-container input[type="submit"]:hover {
  background-color: #fffec4;
}

.exercise-container code {
  font-family: monospace;
  font-size: 1.2em;
  padding: 2px;
}
.form-text code {
  color: #222;
}
