*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Root CSS rules */
/* Custom Properties */
:root {
  /* Custom properties -> need duble hyphen */
  /* font families */
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  /* font weight */
  --fw-reg: 300;
  --fw-md: 500;
  --fw-bold: 900;
  /* custom colors */
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #2f4f4f;

  /*Font size */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.125em rgba(0, 0, 0, 0.15);
}
/* At a specific size change the custom sizes to below */
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.755rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

/***************** Nav spaghetti ***********/
/* Desktop view */
@media (min-width: 800px) {
  .nav-container {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
  }
  nav {
    background: #1a1e23;
    padding-bottom: 12px;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row-reverse;
  }
  nav .line {
    height: 2px;
    position: absolute;
    bottom: 0;
    margin: 10px 0 0 0;
    background: #ff1847;
  }
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: flex;
  }
  nav ul li {
    margin: 0 40px 0 0;
    opacity: 0.4;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  nav ul li:hover {
    opacity: 0.7;
  }
  nav ul li.active {
    opacity: 1;
  }
  nav ul li:last-child {
    margin-right: 0;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size: 13px;
  }
  /* Hide hamburger Checkbox */
  label input {
    display: none;
  }
  header {
    background: #1a1e23;
    font-family: "Lato", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-height: 1em;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 3;
    height: 5vh;
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

/* Mobile view- Hamburger */
@media (max-width: 800px) {
  .logo img {
    display: none;
  }
  /* Hamburger import ******/
  /*@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");*/

  nav ul li a {
    font-family: "Lato", sans-serif !important;
    color: #1a1e23 !important;
  }

  label .menu {
    position: absolute;
    left: 80%;
    top: -3vh;
    z-index: 100;
    width: 10vh;
    height: 10vh;
    background: #1a1e23;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    cursor: pointer;
  }

  label .hamburger {
    position: absolute;
    top: 6vh;
    left: 3vh;

    width: 30px;
    height: 2px;
    background: #fff;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  label .hamburger:after,
  label .hamburger:before {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
  }
  label .hamburger:before {
    top: -10px;
  }
  label .hamburger:after {
    bottom: -10px;
  }
  label input {
    display: none;
  }
  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
    border-radius: 0;
  }
  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }
  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }
  label input:checked + .menu + nav ul {
    opacity: 1;
  }
  label nav ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.25s 0s ease-in-out;
    transition: 0.25s 0s ease-in-out;
  }
  label nav a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
  }
}

/********************************************/
@media (min-width: 800px) {
  .logo img {
    display: flex;
    height: 140px;
    width: 140px;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 30px;
    z-index: 3 !important;
  }
}

/************************/
section {
  padding: 5em 2em;
}
img {
  display: block;
  max-width: 100%;
}
strong {
  font-weight: var(--fw-bold);
}
/* Button link to my work  ***********/
.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  background: var(--clr-accent);
  color: var(--clr-light);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  /* set settings for hover effect */
  transition: transform 200ms ease-in-out;
}
/* set hover effect */
.btn:hover {
  transform: scale(1.1);
}
/*********************************/

.section__title {
  margin-bottom: 0.25em;
}
.section__title--intro {
  font-weight: var(--fw-reg);
}
/* pushes strong element onto its own line */
.section__title--intro strong {
  display: block;
}
.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}
.section__subtitle--intro,
.section__subtitle--about {
  /*background-color: var(--clr-accent);*/
  font-family: "Lato", sans-serif !important;
  background-color: #494a4b;
  color: var(--clr-light);
  padding: 0.25em;
  padding-right: 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}
.section__subtitle--about {
  background-color: var(--clr-accent);
}
/***************************************** Intro Section ******************************************/
.intro {
  position: relative;
  /*background: #1A1E23;*/
  color: white; /*var(--clr-light);*/
  overflow: hidden;
}
.intro-nav-container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* Good Resource for Grid columns:
https://www.freecodecamp.org/learn/responsive-web-design/css-grid/use-grid-column-to-control-spacing */
@media (min-width: 800px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0em auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
    top: 0.5vh;
  }
  .intro__img {
    grid-area: img;
    min-width: 300px;
    /*position: relative;*/
    z-index: 2;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100%);
  }
  .intro-nav-container {
    width: 90%;
    grid-column: 2/3;
    grid-row: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.intro-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  padding: 0;
}
.intro-nav li a {
  color: #fff;
  min-width: 15px !important;
}

.intro__img {
  box-shadow: var(--bs);
}
.intro-bg {
  background: #1a1e23;
  position: relative;
}
@media (min-width: 800px) {
  .intro-bg {
    background: #1a1e23;
    position: relative;
    height: 100vh;
  }
}
/* GRID SECTION 
https://www.freecodecamp.org/learn/responsive-web-design/css-grid/place-items-in-grid-areas-using-the-grid-area-property */
/** GOOGLE HEADING BORDER **/

.svg-wrapper {
  transform: translateY(-50%);
  margin: 20px;
  margin-top: 200px;
  margin-bottom: -50px;
  width: 520px;
  text-align: center;
}
.shape {
  stroke-dasharray: 0 580;
  stroke-dashoffset: 580;
  stroke-width: 6px;
  stroke: #fefefe;
  border-bottom: 5px solid black;
  transition: stroke-width 2.7s, stroke-dashoffset 2.7s, stroke-dasharray 1.3s;
  transition-delay: 0s;
  fill: #1a1e23;
}
.text-head {
  font-family: "Syne Mono", monospace;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 6px;
  color: #fff;
  top: -48px;
  position: relative;
  text-align: center;
  height: 60px;
  width: 520px;
  font-variant: small-caps;
}
.shape-border {
  stroke-width: 4px;
  stroke-dashoffset: 0;
  stroke-dasharray: 480 100;
}

@media (max-width: 800px) {
  .svg-wrapper {
    transform: translateY(-50%);
    margin: 5px;
    margin-top: 120px;
    margin-bottom: -40px;
    width: 250px;
    text-align: center;
    margin-right: -40px;
  }
  .text-head {
    font-family: "Syne Mono", monospace;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 4px;
    color: #fff;
    top: -58px;
    position: relative;
    text-align: center;
    height: 40px;
    width: 280px;
    font-variant: small-caps;
  }

  svg {
    width: 300px !important;
  }
}

/****************************** WHAT I DO ******************************************************/
.what-i-do {
  background-color: var(--clr-dark);
  background-image: url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  color: var(--clr-light);
  background-blend-mode: multiply;
  background-size: cover;
  text-align: center;
  padding-top: 1em;
}
.section__title--services {
  color: var(--clr-light);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 20%;
  height: 1.5px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}
.services {
  margin-bottom: 4em;
}
.service {
  max-width: 500px;
  margin: 0 auto;
}
.section__about__me {
  font-weight: var(--fw-md);
}

@media (min-width: 600px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}
/************************************************** ABOUT ME ******************************/
.about-me {
  max-width: 1000px;
  margin: 0 auto;
  background: #1a1e23;
  color: #dcdcdc;
  font-size: 1rem;
}
.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
    max-height: 100vh;
    padding-top: 2vh;
  }
  .section__title--about {
    grid-area: title;
  }
  .section__subtitle--about {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }

  /************************************************** MY WORK ******************************/
  .my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
  }
  .section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    background-color: black;
  }
  .work {
    background-color: black;
  }
}

.work {
  display: flex;
  justify-content: center;
  width: 100%;
}
#projects {
  background: black;
  width: 100%;
}

.wrap {
  margin: 0 auto 0 auto;
  width: 100%;
  display: flex;
  align-items: space-around;
  justify-content: center;
  background: black;
}
.tile {
  width: 18em;
  height: 18em;
  margin: 5px;
  background-color: #99aeff;
  display: inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out;
  /*box-shadow: 0px 15px 27px -17px rgb(96, 96, 96);*/
  overflow: hidden;
  color: white;
  font-family: "Roboto";
}
.tile img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
}
.tile .text {
  position: absolute;
  padding: 30px;
  height: calc(100% - 60px);
}
.tile h1 {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 350;
  margin: 0;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
}
.tile h2 {
  font-weight: 100;
  margin: 20px 0 0 0;
  font-style: italic;
  transform: translateX(200px);
}
.tile p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 3px 0 3px 0;
  line-height: 15px;
  transform: translateX(-200px);
  transition-delay: 0.2s;
  font-size: 0.95rem;
}

.animate-text {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.tile:hover {
  /*box-shadow: 0px 35px 77px -17px rgb(96, 96, 96);*/
  transform: scale(1.05);
}
.tile:hover img {
  opacity: 0.2;
}
.tile:hover .animate-text {
  transform: translateX(0);
  opacity: 1;
}
.dots {
  position: absolute;
  bottom: 5px;
  right: 20px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  color: currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.dots span {
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
  display: block;
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
}
.tile:hover span {
  opacity: 1;
  transform: translateY(0px);
}
.dots span:nth-child(1) {
  transition-delay: 0.05s;
}
.dots span:nth-child(2) {
  transition-delay: 0.1s;
}
.dots span:nth-child(3) {
  transition-delay: 0.15s;
}

@media (max-width: 1000px) {
  .wrap {
    flex-direction: column;
    width: 300px;
    justify-content: center;
  }
}
/**************************FOOTER **********************/
.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 3.5em 0;
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer__link {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
}
.social-list__item {
  margin: 0 0.5em;
  height: 2em;
}
